- @page_title = @group
.group-title
  - if @group.acronym?
    %h1= @group.acronym
    %h2= @group.name
  - else
    %h1= @group.name

%div.about.text
  %h3 About the team
  .formatted-text
    = govspeak(@group.with_placeholder_default(:description))

%div.grid-wrapper.details
  %div.grid.grid-1-1
    %div.inner-block.group-leader
    - @group.leaders_by_priority.each do |leader|
      %div.leader-profile
        = link_to leader do
          %div.leader-background
            = profile_image_tag leader, class: 'team-members'
          %h4= link_to leader, leader
          %span.leader-role= leader.memberships.where(group:@group).map(&:role).select(&:present?).sort.join(', ')
