- content_for :body_classes, 'home-page'

%h1= t('home.heading', group_name: @group.name)
%p= t('home.explanation')

%div.search-wrapper
  %div.help-peoplefinder.grid-1-2
    %p
      = t('home.usage_heading')
      %br
      = t('home.usage')


  %div.grid-1-2
    = render 'shared/search'

%div.root-team
  %h2.org-structure= @group.name

  %h3.about-team-header About the team
  %div.about-the-team.formatted-text.about
    = govspeak(@group.with_placeholder_default(:description))

  %div.leaders.grid.grid-1-1
    - @group.leaders_by_priority.each do |leader|
      %div.leader-profile
        = link_to leader do
          %div.leader-background
            = profile_image_tag leader, class: 'team-members'
          %h4= link_to leader, leader
          %span.leader-role= leader.memberships.where(group:@group).first.role

%div.root-subteams
  %h2
    = "Teams within #{@group.name}"

  .grid-wrapper
    = render partial: "groups/subgroup", collection: @group.children
